.copy {
    font-size: 1rem;
    color: var(--dark-gray);
    margin-bottom: 1rem;

    &__link {

        text-decoration: none;
        color: var(--strong-cyan);
    }
}

@media screen and (min-width: 900px) {
    .copy {
        display: flex;
        flex-direction: column;
        margin: auto 0;
    }
}