:root {
    --strong-cyan: hsl(171, 66%, 44%);
    --hover-cyan: hsl(171, 66%, 64%);
    --shadow-cyan: hsl(171, 66%, 30%);
    --light-blue: hsl(233, 100%, 69%);
    --hover-blue: hsl(233, 100%, 79%);
    --shadow-blue: hsl(233, 100%, 59%);
    --dark-gray: hsl(210, 10%, 33%);
    --grayish: hsl(201, 11%, 66%);
}